/* Estilo para ajustar as imagens */
.galeria-imagens {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* Faz as imagens ficarem uma abaixo da outra em telas menores */
  margin-top: 20px;
}

img {
  max-width: 400px;
  width: 100%;
  border-radius: 10px; /* Bordas levemente arredondadas para um visual moderno */
  object-fit: cover;
}
